* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Raleway', sans-serif;
}
h1 {
    text-align: center;
    color: #f5576c;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: #ececec;
}
.logo {
    max-width: 5rem;
}
.nav-list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}
.nav-list li a {
    text-decoration: none;
    color: blue;
}
.abrir-menu{
    display: none;
}
.cerrar-menu {
    display: none;
}

@media screen and (max-width: 550px)  {
    .abrir-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
        color: #1c1c1c
    }
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
        color: #ececec;
    }
    .nav {
        opacity: 0;
        visibility: hidden;
    
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5) ;
    }
    .nav.visible {
        opacity: 1;
        visibility: visible;

    }
    .nav-list {
        flex-direction: column;
        align-items: end;
        
    }
    .nav-list li a {
        color: #ececec;
    }
}

/* footer */

footer{
    background: #f5576c;
    color: #fff;
}

.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input{
    background: transparent;
    border: 0;
    color: #fff;
    outline: none;
    border: 1px  solid #fff;
    padding: 20px 10px;
    align-items: center;
}

.input::placeholder{
    color: #fff;
    font-family: 'raleway', 'sans-serif';
}

input[type="text"], 
input[type="email"]{
    display: inline-block;
    width: 69%;
    margin-bottom: 30px;
}

.form textarea{
    width: 100%;
    margin-bottom: 15px;
}

input[type="submit"]{
    width: 160px;
    text-align: center;
    padding: 14px 0;
    border-radius: 10px;
}

input[type="submit"]:hover{
    cursor: pointer;
    color: tomato;
    background: #fff;
}





/* -------  SERVICIOS --------*/



.cards-contenedor {
    
    max-width: 1200px;
    margin: 4rem;
    text-align: center;
    
    gap: 1rem;
    font-size: 1rem;
}



.content-cards{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

.card{
    width: 30%;
    text-align: center;
    height: 300px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .5);
    transform: scale(1);
    transition: transform 0.6s;
}




.card1 {
    width: 30%;
    text-align: center;
    padding-top: 200px;
    color: #ececec;
    height: 300px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .5);
    transform: scale(1);
    transition: transform 0.6s;
    
    background-image: url(../img/peluqueria3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.card2 {
    width: 30%;
    text-align: center;
    padding-top: 200px;
    color: #ececec;
    height: 300px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .5);
    transform: scale(1);
    transition: transform 0.6s;
    
    background-image: url(../img/guarderia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}
.card3 {
    width: 30%;
    text-align: center;
    padding-top: 200px;
    color: #ececec;
    height: 300px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .5);
    transform: scale(1);
    transition: transform 0.6s;
    
    background-image: url(../img/6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}


.card1:hover {
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    transform: scale(1.03);
    cursor: pointer;
}


.card2:hover {
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    transform: scale(1.03);
    cursor: pointer;
}

.card3:hover {
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    transform: scale(1.03);
    cursor: pointer;
}
.cta{
    display: inline-block;
    text-decoration: none;
    background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
    padding: 12px 15px;
    border-radius: 8px;
    color: #fff;
}

/* Estilos generales */

.contenedor,
.wave-contenedor{
    width: 90%;
    max-width: 1000px;
    overflow: hidden;
    margin: auto;
    padding: 0 0 80px 0;
    
}
.contenedor{
    padding: 80px 0;
   
}

.titulo{
    font-weight: 300;
    font-size: 35px;
    text-align: center;
    margin-bottom: 30px;
}

.titulo.left{
    text-align: left;
}

.titulo.right{
    text-align: right;
}

/* Section */

.website{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
   
}

.website img{
    width: 48%;
    
}

.website .contenedor-textos-main{
    width: 40%;
}

.parrafo{
    text-align: justify;
    margin-bottom: 20px;
}

/* Info */

.info{
    background: #f5576c;
    color: #fff;
}

/* galeria */

.galeria{
    background: #f2f2f2;
}

.galeria-cont{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: hidden;
}

.galeria-cont>img{
    width: 15%;
    object-fit: cover;
    margin-bottom: 20px;
    display: block;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .5);
    cursor: pointer;
    overflow: hidden;
}